<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css' ) }}">
    <title>Ларионов Даниил Сергеевич {% block lab %}{% endblock %}</title>
    {% if request.cookies.get('color') %}
    <style>

        body{
            color: {{ request.cookies.get('color') }};
        }

    </style>
    {% endif %}
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        &copy; Ларионов Даниил Сергеевич, ФБИ-12, 3 Курс, 2023
    </footer>
</body>
</html>